/**
 * Site header
 */
.site-header {

  min-height: $spacing-unit * 1.865;
  border-bottom: 1px lighten($red-color, 15%) dotted;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);

  font-weight: 300;
  color: $red-color;
  font-style: italic;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
  letter-spacing: 1em;

  &,
  &:visited {
    color: $red-color;
  }
}

.rss-subscribe {
  font-size: $base-font-size * .75;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-transform: lowercase;
    &:hover {
      color:$red-color;
      transition: 0.5s;
    }
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    box-shadow: 0px 1px 1px 1px #0002;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $red-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px lighten($red-color, 15%) dotted;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  color: $red-color;
  letter-spacing: 1em;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: $spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}
.footer-note {
  font-size: $small-font-size;
  color: $grey-color-light;
  text-align: right;
  font-style: italic;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .divider {
    display:inline;
  }
  .divider::after {
    content:"//";
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-tags {
  font-size: $small-font-size;
  color: $grey-color-light;
}

.divider::after {
  content: "//";
  color: $grey-color-light;
}
@include media-query($on-palm) {
  .post-title, .post-meta, .post-tags {
    text-align: center;
  }
  .divider {
    display:inline;
  }
  .divider::after {
    content:"~";
  }
}

.post-link {
  display: inline-block;
  @include relative-font-size(1.5);
}
.post-bullet {
  display: inline-block;
  width: 20px;
  margin-left: -35px;
  cursor: default;
}
.post-bullet::before {
  content:"^";
  // content:url(urlgoeshere.jpg);
}

@media (max-width:880px) {
  .post-bullet {
    display: none;
    margin-left: 0;
  }
}




/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
.post-header h1 {
  transform: skewX(5px);
}
.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

//to do

.review-menu {
  background-color:#222;
  background: linear-gradient(45deg, rgba(25,25,25,1) 0%, rgba(50,50,50,1) 100%);
  color:#fdfdfd;
  border-radius: 10px;
  padding: 2vw;
  box-shadow: 1px 1px 1px 1px #0002;
  overflow: hidden;
}
.review-menu p {
  display: inline-block;
}
.review-menu p::after {
  content: " //";
}
.review-menu p:last-of-type::after {
  content: "";
}
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fffa,
    0 0 10px #fffc,
    0 0 20px #fff,
    0 0 30px $red-color,
    0 0 40px $red-color,
    0 0 80px $red-color,
    0 0 90px $red-color,
    0 0 100px $red-color,
    0 0 150px $red-color;

    &:hover {
      text-shadow:
        0 0 5px #fffa,
        0 0 10px #fffc,
        0 0 20px #fff,
        0 0 30px $red-color,
        0 0 40px $red-color,
        0 0 80px $red-color,
        0 0 90px $red-color,
        0 0 100px $red-color,
        0 0 150px $red-color,
        0 0 175px $red-color,
        0 0 200px $red-color,
        0 0 225px $red-color,
        0 0 250px $red-color;
      transition: 0.5s;
    }
    a {
      color:#fff;
    }
    a:hover {
      color:#fff;
    }
}


@media (min-width:1000px) {
  .review-menu {
    width: 12vw;
    position:fixed;
    top:100px;
    left:2.5vw;

  }
  .review-menu p {
    display:block;
  }
  .review-menu p::after {
    content: "";
  }
}
