---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a href="{{ page.websiteurl }}"><h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1></a>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
        </time>
      </p>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <aside class="review-menu">
    <h2 class="neon review-name"><a href="{{ page.websiteurl }}">{{page.name}}</a></h2>
    <p class="review-notes">{{ page.tags }} style pizza</p>
    <p class="review-price">{{ page.price }}</p>
    <p class="review-rating">{{ page.rating }}</p>
    <p class="review-location">{{ page.location }}</p>
  </aside>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
